:root {
    --bg: #0f172a;
    --card: #1e293b;
    --primary: #22c55e;
    --accent: #facc15;
    --text: #f8fafc;
}

body {
    font-family: 'Fredoka', sans-serif;
    background: var(--bg);
    color: var(--text);
    text-align: center;
    margin: 0;
}

.navbar {
    padding: 1rem 5%;
    display: flex;
    justify-content: space-between;
    background: #1e293b;
    border-bottom: 3px solid var(--primary);
}

.glow-text {
    font-size: 3rem;
    color: var(--accent);
    text-shadow: 0 0 10px rgba(250, 204, 21, 0.5);
    margin-top: 50px;
}

.main-card {
    background: var(--card);
    width: 300px;
    margin: 50px auto;
    padding: 2rem;
    border-radius: 20px;
    border: 4px solid var(--primary);
    cursor: pointer;
    transition: 0.3s;
}

.main-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--primary);
}

.card-icon { font-size: 5rem; margin-bottom: 10px; }

.play-btn {
    background: var(--primary);
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 15px;
    cursor: pointer;
}

.xp-badge {
    background: #334155;
    padding: 5px 20px;
    border-radius: 50px;
    border: 2px solid var(--accent);
}